[submodule "utils"]
	path = utils
	url = https://github.com/afterroot/utils.git
[submodule "website"]
	path = website
	url = https://github.com/thesandipv/allusive-web.git
[submodule "ards"]
	path = ards
	url = https://github.com/afterroot/ards.git
[submodule "arro"]
	path = arro
	url = https://github.com/afterroot/allusive_rro.git
[submodule "gradle/build-logic"]
	path = gradle/build-logic
	url = https://github.com/afterroot/build-logic.git
