name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - allusive_v*
      - ci*
    paths-ignore:
      - '.idea/**'
      - 'website/**'
      - '**/README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.idea/**'
      - 'website/**'
      - '**/README.md'

env:
  GHTOKEN: ${{ secrets.GITHUB_TOKEN }}
  GHUSERNAME: ${{ secrets.GHUSERNAME }}

jobs:
  kotlin-code-style-check:
    name: Kotlin Code Style Check
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Check Out
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PRIV_REPO_PAT }}
          submodules: 'recursive'

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        id: setup-gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Run spotlessKotlinCheck task
        id: run-spotless
        run: ./gradlew spotlessKotlinCheck --stacktrace

  android:
    name: Android Build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SIGN_KEY_PW: ${{ secrets.SIGN_KEY_PW }}
      SIGN_STORE_PW: ${{ secrets.SIGN_STORE_PW }}

    steps:
      - uses: act10ns/slack@v2
        with:
          status: starting
        if: github.ref == 'refs/heads/main'

      - name: Check Out
        id: check-out
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PRIV_REPO_PAT }}
          submodules: 'recursive'

      - name: Get commit hash
        id: commithash
        shell: bash
        run: |
          sha=$( curl -u "u:${{github.token}}" https://api.github.com/repos/thesandipv/pointer_replacer/git/ref/heads/${{ github.head_ref }} | jq .object.sha | tr -d '"' )
          if [ $sha == "null" ] || [ $sha == "" ]; then
            if [ ${{ github.ref_type }} == "branch" ]; then
              sha=$( curl -u "u:${{github.token}}" https://api.github.com/repos/thesandipv/pointer_replacer/git/ref/heads/${{ github.ref_name }} | jq .object.sha | tr -d '"' )
            else
              sha=$( curl -u "u:${{github.token}}" https://api.github.com/repos/thesandipv/pointer_replacer/git/ref/tags/${{ github.ref_name }} | jq .object.sha | tr -d '"' )
            fi
          fi
          echo $sha
          short_sha=${sha:0:7}
          echo $short_sha
          echo "sha=$sha" >> $GITHUB_OUTPUT
          echo "sha_short=$short_sha" >> $GITHUB_OUTPUT

      - name: Set up JDK
        id: setup-jdk
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Set up Python 3
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Grant execute permissions
        id: grant-execute-permissions-for-scripts
        run: chmod +x release/decrypt.sh release/clean.sh

      - name: Decrypt Task
        id: decrypt
        run: ./release/decrypt.sh
        env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Grant execute permission for gradlew
        id: grant-execute-permissions-for-gradle
        run: chmod +x gradlew

      - name: Setup Gradle
        id: setup-gradle
        uses: gradle/actions/setup-gradle@v5
        env:
          COMMIT_ID: ${{ steps.commithash.outputs.sha_short }}
        with:
          gradle-version: wrapper
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Assemble Release Build
        id: assemble-release-build
        run: ./gradlew :allusive:assembleRelease :allusive:bundleRelease --stacktrace
        env:
          CI: true
          COMMIT_ID: ${{ steps.commithash.outputs.sha_short }}

      - name: Run Tests in app module
        id: run-tests
        continue-on-error: true #TODO Remove
        run: ./gradlew testReleaseUnitTest
        env:
          COMMIT_ID: ${{ steps.commithash.outputs.sha_short }}

      - name: Publish to Play Store
        id: publish-to-play-store
        if: startsWith(github.ref, 'refs/tags/allusive_v')
        continue-on-error: true
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJson: release/serviceAccount.json
          packageName: com.afterroot.allusive2
          track: production
          status: inProgress
          userFraction: 0.80
          releaseFiles: allusive/build/outputs/bundle/release/allusive-release.aab
          mappingFile: allusive/build/outputs/mapping/release/mapping.txt

      - name: Publish to Internal Track Play Store
        id: publish-to-play-store-internal
        if: github.ref == 'refs/heads/main'
        continue-on-error: true
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJson: release/serviceAccount.json
          packageName: com.afterroot.allusive2
          track: internal
          status: completed
          releaseFiles: allusive/build/outputs/bundle/release/allusive-release.aab
          mappingFile: allusive/build/outputs/mapping/release/mapping.txt

      - name: Create release for tags
        id: create-release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/allusive_v')
        with:
          draft: true
          files: |
            allusive/build/outputs/apk/release/allusive-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean Task
        if: always()
        run: ./release/clean.sh

      - name: Upload build reports
        id: upload-reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: build-reports
          path: allusive/build/reports

      - name: Upload to Slack
        id: upload-to-slack
        uses: adrey/slack-file-upload-action@1.0.5
        continue-on-error: true
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          path: allusive/build/outputs/apk/release/allusive-release.apk
          channel: builds
          filename: Allusive-${{ steps.commithash.outputs.sha_short }}.apk

      - uses: act10ns/slack@v2
        if: always()
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
